header {
  background-color: white;
  box-shadow: 0 2px 2px -2px gray;
  padding: 5px 10px;
}

header .navbar-nav .nav-link {
  color: black;
  font-weight: bold;
}

header .navbar-nav .nav-link:hover {
  color: #26a9e0;
}

#navbarNav > ul > li.nav-item.dropdown.show > div > a:hover {
  background-color: black;
  color: white;
}

/* Khi hover vào li.dropdown thì dropdown-menu hiện ra */
.nav-item.dropdown:hover .dropdown-menu {
  display: block;
  margin-top: 0; /* tránh bị lệch xuống */
}

/* Đổi màu khi hover vào item */
.dropdown-menu .dropdown-item:hover {
  background-color: black;
  color: white;
}
/* Header bình thường */
#mainHeader {
  position: relative;
  width: 100%;
  background: #efe9e9;
  transition: all 1s ease;
}

/* Header ghim lại */
#mainHeader.fixed {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 999;
  background: efe9e9;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);

  /* hiệu ứng nhảy xuống */
  animation: slideDown 1s ease forwards;
}


/* Custom width cho offcanvas */
.offcanvas-custom {
  width: 70% !important;   /* chỉ chiếm 70% */
  max-width: 400px;        /* thêm giới hạn nếu muốn */
}


/* Keyframes cho hiệu ứng */
@keyframes slideDown {
  from {
    transform: translateY(-100%); /* bắt đầu ẩn trên cao */
  }
  to {
    transform: translateY(0); /* trượt xuống vị trí chuẩn */
  }
}
