header {
    background-color: white;
    box-shadow: 0 4px 2px -2px gray;
    padding: 10px 20px;
}

header .navbar-nav .nav-link {
    color: black;
    font-weight: bold;
}

header .navbar-nav .nav-link:hover {
    color: #26a9e0;
}





#navbarNav > ul > li.nav-item.dropdown.show > div > a:hover {
    background-color: black;
    color: white;
}
